<div id="sidebar">

    <div class="card-body">
        <div class="card-title hstack gap-2 showTools">
            <h4 class="mt-auto mb-auto">
                Channels
            </h4>
            <div class="tools ms-auto">
                <button mat-icon-button (click)="openDialogChannel()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="card-body">
        <div class="card-title hstack gap-2 showTools">
            <h4 class="mt-auto mb-auto">
                Direct messages
            </h4>
            <div class="tools ms-auto">
                <button mat-icon-button (click)="openDialogMessage()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>