.main-container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px;
    display: flex;
    margin: 1rem;
    display: flex;
    justify-content: center;
}

mat-toolbar {
    position: relative;

    button {
        position: absolute;
        right: 30px;
        top: 11px;
        width: 300px;
    }
}


