<div><img [src]="backend.url" *ngIf="backend.url"></div>
<!-- MAIN CHANNELS -->
<div *ngIf="backend.mainChatOpen" class="main-chat-container">
    <img src="assets/img/profile_pic.png">
    <div class="chat-text-container">
        <div class="chat-header-container">
            <h2>{{message.from}}</h2>
            <div class="time">{{getDate() }}</div>
        </div>
        <div>
            <p>{{message.message}}
            </p>
        </div>
        <div (click)="openThread(message.id)">open Thread</div>
    </div>
</div>

<!-- DIRECT MESSAGES -->

<div *ngIf="backend.directChatOpen" class="main-chat-container">
    <img src="assets/img/profile_pic.png">
    <div class="chat-text-container">
        <div class="chat-header-container">
            <h2>{{chat.from}}</h2>
            <div class="time">{{getDate()}}</div>
        </div>
        <div>
            <p>{{chat.message}}
            </p>
        </div>