<div class="main-chat-container">

    <img src="assets/img/profile_pic.png">

    <div class="chat-text-container">

        <div class="chat-header-container">
            <h2>Username</h2>
            <div class="time">{{currentTime}}</div>
        </div>

        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis natus sit sed odio numquam id fugiat
                cum
                mollitia dignissimos itaque. Incidunt voluptatibus rem, nisi quo mollitia quis. Veniam, dignissimos
                nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni esse quia reprehenderit
                doloremque dignissimos nostrum provident praesentium ea deleniti nesciunt neque, veniam rerum.
                Aspernatur nemo facere ipsam commodi a!
            </p>
        </div>

        <div class="chat-bottom-section">Antworten</div>

    </div>

</div>
<div class="main-chat-container">

    <img src="assets/img/profile_pic.png">

    <div class="chat-text-container">

        <div class="chat-header-container">
            <h2>Username</h2>
            <div class="time">{{currentTime}}</div>
        </div>

        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis natus sit sed odio numquam id fugiat
                cum
                mollitia dignissimos itaque. Incidunt voluptatibus rem, nisi quo mollitia quis. Veniam, dignissimos
                nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni esse quia reprehenderit
                doloremque dignissimos nostrum provident praesentium ea deleniti nesciunt neque, veniam rerum.
                Aspernatur nemo facere ipsam commodi a!
            </p>
        </div>

        <div class="chat-bottom-section">Antworten</div>

    </div>

</div>
<div class="main-chat-container">

    <img src="assets/img/profile_pic.png">

    <div class="chat-text-container">

        <div class="chat-header-container">
            <h2>Username</h2>
            <div class="time">{{currentTime}}</div>
        </div>

        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis natus sit sed odio numquam id fugiat
                cum
                mollitia dignissimos itaque. Incidunt voluptatibus rem, nisi quo mollitia quis. Veniam, dignissimos
                nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni esse quia reprehenderit
                doloremque dignissimos nostrum provident praesentium ea deleniti nesciunt neque, veniam rerum.
                Aspernatur nemo facere ipsam commodi a!
            </p>
        </div>

        <div class="chat-bottom-section">Antworten</div>

    </div>

</div>
<div class="main-chat-container">

    <img src="assets/img/profile_pic.png">

    <div class="chat-text-container">

        <div class="chat-header-container">
            <h2>Username</h2>
            <div class="time">{{currentTime}}</div>
        </div>

        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis natus sit sed odio numquam id fugiat
                cum
                mollitia dignissimos itaque. Incidunt voluptatibus rem, nisi quo mollitia quis. Veniam, dignissimos
                nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni esse quia reprehenderit
                doloremque dignissimos nostrum provident praesentium ea deleniti nesciunt neque, veniam rerum.
                Aspernatur nemo facere ipsam commodi a!
            </p>
        </div>

        <div class="chat-bottom-section" (click)="openThread()">Antworten</div>

    </div>

</div>
<div class="main-chat-container">

    <img src="assets/img/profile_pic.png">

    <div class="chat-text-container">

        <div class="chat-header-container">
            <h2>Username</h2>
            <div class="time">{{currentTime}}</div>
        </div>

        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis natus sit sed odio numquam id fugiat
                cum
                mollitia dignissimos itaque. Incidunt voluptatibus rem, nisi quo mollitia quis. Veniam, dignissimos
                nemo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni esse quia reprehenderit
                doloremque dignissimos nostrum provident praesentium ea deleniti nesciunt neque, veniam rerum.
                Aspernatur nemo facere ipsam commodi a!
            </p>
        </div>

        <div class="chat-bottom-section">Antworten</div>

    </div>

</div>