.main-chat-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    margin-top: 30px;

    .user-img{
        height: 35px;
        width: 35px;
        object-fit: cover;
        margin-right: 8px;
    }

    &:last-child{
        margin-bottom: 80px;
    }
}

.chat-bottom-section{
    color: rgb(26, 26, 204);

    &:hover{
        cursor: pointer;
    }
}

.chat-header-container{
    display:flex;
    align-items: center;
}

h2{
    font-weight: bold;
    margin-right: 8px;
}

.time{
    color: grey;
}

.profil-img {
    height: 24px;
    border-radius: 100%;
    margin-right: 8px;
}