<div id="mainInterface">
    <!-- TOOLBAR -->
    <app-toolbar (buttonClicked)="isClicked($event)"></app-toolbar>

    <!-- SIDENAV -->
    <mat-drawer-container [ngClass]="backend.mobileMode ? 'mobile-mode' : 'sidenav-container'" class="sidenav-container">
        <!-- SIDENAV-CONTENT -->
        <mat-drawer [ngClass]="backend.mobileMode ? 'mobile-mode' : 'sidenav-container'" class="sidenav-container" position="start"
            mode="side" opened *ngIf="backend.open">
            <app-sidebar (buttonClicked)="renderContent($event)"></app-sidebar>
        </mat-drawer>
        <!-- MAIN-CONTENT -->

        <mat-drawer-content [ngClass]="backend.mobileMode ? 'mobile-mode' : 'sidenav-container'" class="sidenav-container">

            <div [ngClass]="backend.mobileMode ? 'mobile-mode' : 'sidenav-container'">

                <div *ngIf="backend.mainChatOpen && !backend.mobileMode">
                    <app-main-chat *ngFor="let message of backend.data.channelMessages" [message]="message"
                        (buttonClicked)="openThread($event)"></app-main-chat>
                </div>
                <div class="center-it" *ngIf="backend.mainChatOpen && backend.mobileMode">
                    <app-main-chat *ngFor="let message of backend.data.channelMessages" [message]="message"
                        (buttonClicked)="openThread($event)"></app-main-chat>
                </div>
                <div *ngIf="backend.directChatOpen && !backend.mobileMode">
                    <app-main-chat *ngFor="let chat of backend.currentChatroom.messages" [chat]="chat"></app-main-chat>
                </div>
                <!-- mobile dm -->
                <div class="center-it" *ngIf="backend.directChatOpen && backend.mobileMode">
                    <app-main-chat *ngFor="let chat of backend.currentChatroom.messages" [chat]="chat"></app-main-chat>
                </div>
            </div>
            <app-main-content [ngClass]="backend.mobileMode ? 'mobile-mode' : ''"></app-main-content>
        </mat-drawer-content>
        <!-- THREAD-CONTENT -->
        <mat-drawer [ngClass]="backend.mobileMode ? 'mobile-mode' : ''" class="thread-right" position="end" mode="side"
            opened={{backend.threadOpened}}>
            <app-thread [message_id]="message_id" [basedMessage]="basedMessage" (buttonClicked)="closeThread()">
            </app-thread>
        </mat-drawer>

    </mat-drawer-container>
</div>