<div id="mainInterface">
    <!-- TOOLBAR -->
    <app-toolbar (buttonClicked)="isClicked($event)"></app-toolbar>
    <!-- SIDENAV -->
    <mat-drawer-container class="sidenav-container">
        <!-- SIDENAV-CONTENT -->
        <mat-drawer mode="side" opened *ngIf="open">
            <app-sidebar (buttonClicked)="renderContent($event)"></app-sidebar>
        </mat-drawer>
        <!-- MAIN-CONTENT -->
        <mat-drawer-content>
            <app-main-chat *ngFor="let message of backend.data.channelMessages" [message]="message" (buttonClicked)="openThread($event)"></app-main-chat>
            <app-main-content></app-main-content>
        </mat-drawer-content>
        <!-- THREAD-CONTENT -->
        <mat-drawer class="thread-right" mode="side" opened={{threadOpened}}>
            <app-thread [message_id]="message_id" [basedMessage]="basedMessage" (buttonClicked)="closeThread()"></app-thread>
        </mat-drawer>
    </mat-drawer-container>
</div>