<div id="mainInterface">
    <!-- TOOLBAR -->
    <app-toolbar (buttonClicked)="isClicked($event)"></app-toolbar>
    <!-- SIDENAV -->
    <mat-drawer-container class="sidenav-container">
        <!-- SIDENAV-CONTENT -->
        <mat-drawer mode="side" opened *ngIf="open">
            <app-sidebar></app-sidebar>
        </mat-drawer>
        <!-- THREAD-CONTENT -->
        <mat-drawer-content>
            <app-main-content></app-main-content>
        </mat-drawer-content>
        <mat-drawer class="thread-right" mode="side" opened>
            <app-thread></app-thread>
        </mat-drawer>
    </mat-drawer-container>
</div>