<!-- THREAD - NAME -->

<div id="workspace">
    <mat-toolbar class="space-between">
        <span>Thread</span>
        <button (click)="closeThread()" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>

    <!-- DISPLAY THREAD - CONTENT -->


    <div class="main" >
        <div style="overflow-y: scroll; height: 100%;">
            <mat-card class="m-3 positioning" style="background-color: white">
                <div>
                    <mat-card-title>{{basedMessage.from}}</mat-card-title>
                    <mat-card-subtitle>{{getDate(basedMessage.time)}}</mat-card-subtitle>
                    <div><img class="thread-pic" [src]="getUrl(basedMessage.url)" *ngIf="basedMessage.url"></div>
                    <!-- load Picture if there -->
                    <mat-card-content>{{basedMessage.message}}</mat-card-content>
                </div>
            </mat-card>
            <mat-divider></mat-divider>
            <div *ngFor="let message of backend.data.answers">
                <mat-card class="m-3 positioning m-l-8 " style="background-color: white; opacity: 0.8;">
                    <div>
                        <mat-card-title>{{message.from}}</mat-card-title>
                        <mat-card-subtitle>{{getDate(message.time)}}</mat-card-subtitle>
                        <!-- Place for picture -->
                        <div><img class="thread-pic" [src]="getUrl(message.url)" *ngIf="message.url"></div>
                        <mat-card-content>{{message.message}}</mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>

        <!-- SEND MESSAGE IN THREAD BAR -->

        <div [ngClass]="backend.mobileMode ? 'mobile-mode' : backend.tabletMode ? 'tablet-mode' : ''" class="max-width" style="display: flex; margin: 1rem;">
            <button (click)="file.click()" mat-icon-button>
                <input (change)="backend.chooseFile($event)" type="file" accept="image/*" #file
                    style="position: fixed; top: -100em;">
                <mat-icon>photo_camera</mat-icon>
            </button>
            <form>
                <textarea [(ngModel)]="defaultValue" name="first" type="text" #textarea class="form-control me-auto"
                    cdkTextareaAutosize #autosize="cdkTextareaAutosize" autofocus>
                </textarea>
            </form>
            <div><img class="little-pic" [src]="backend.url"
                    *ngIf="backend.url && !backend.pictureUploadedFromMainChat"></div> <!-- Picture for Posting -->
            <button (click)="showMessage(textarea.value)" type="submit" mat-icon-button>
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>


</div>